:root {
    --default-color : #353535;
    --primary-color: #0C1937;
    --secondary-color : #091125;
    --color-blue : #0044FF;
    --font-family: 'Poppins', sans-serif;
    --container-max-width-percentage: 90;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    color: var(--default-color);
    scroll-behavior: smooth;
}

header{
    position: fixed;
    color: #fff;
    padding: 10px 30px;
    display: flex;
    width: 96%;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background-color: var(--primary-color);
    z-index: 1000;
}

main {
    margin-top: 58px;
}

h1 {
    color: var(--color-blue);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-items li {
    margin-right: 15px;
}

.nav-items a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.nav-items a:hover {
    color: var(--color-blue);
}

.menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    margin-right: 30px;
}


.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    /* max-width: calc(var(--container-max-width-percentage) * 1vw); */
}

.btn {
    height: 50px;
    width: 150px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 30px;
    font-size: 16px;
    color: #fff;
    background: var(--color-blue);
    font-weight: 600;
    font-family: var(--font-family);
    padding: 5px;
    margin: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: #366cff;
    transition: 0.5s;
    box-shadow: 0 0 5px 5px rgba(0, 85, 255, 0.5);
}

.greetings {
    background-size: cover;
    color: var(--color-blue);
    height: 578px;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: start;
}

#facility {
    height: 578px;
    background-size: cover;
}

.rounded-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.rounded {
    text-align: center;
}

.rounded-image {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.caption {
    margin-top: 10px;
}
  
.caption p {
    margin: 0;
    font-size: 1.2rem;
    color: var(--default-color);
    font-weight: bold;
}

#message {
    height: 578px;
    background-size: cover;
}
.row {
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 60%;
    float: left;
    margin-bottom: 20px;
}

.col-2 {
    width: 60%;
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    border: #0C1937 solid 1px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 5px;
}

label {
    font-weight: bold;
}


input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input:focus {
    border-color: var(--color-blue);
}

.btn-message {
    height: 40px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    font-size: 16px;
    color: #fff;
    background: var(--color-blue);
    font-weight: 600;
    font-family: var(--font-family);
    border-radius: 30px;
    cursor: pointer;

}

.footer {
    text-align: end;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    bottom: 0;
}
/* Mobile View */
@media screen and (max-width: 768px) {
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: var(--secondary-color);
    }

    .nav-items.show {
        display: flex;
    }

    .nav-items li {
        margin: 0;
        text-align: left;
        padding: 10px;
    }

    .nav-icon {
        display: block;
    }

    .menu-toggle {
        display: block;
    }

    .greetings {
        background-image: none;
        background-color: #091125;
        color: #fff;
        height: auto;
        justify-content: center;
        text-align: center;
        padding: 60px 20px;
    }

    .greetings h1 {
        font-size: 20px;
    }

    .greetings p {
        font-size: 10px;
    }

    #facility {
        background-image: none;
        background-color: #fff;
        width: auto;
        height: fit-content;
        justify-content: center;
        text-align: center;
    }

    .rounded-items {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .rounded {
        margin-bottom: 50px;
    }

    .rounded-image {
        width: 200px;
        height: 200px;
    }

    #message {
        background-image: none;
        background-color: #091125;
        width: auto;
        height: fit-content;
        align-items: center;
        justify-content: center;
    }

    #message h1 {
        text-align: center;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .col-1 {
        width: 90%;
    }

    .col-2 {
        width: 90%;
        margin: 0 0 20px 0;
    }
    
}


/* CSS untuk Profile Page */
.slider-container {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
}

/* Styling for the slider wrapper and individual slides */
.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
    max-width: 100%;
    height: auto;
  }

/* Navigation buttons styling */
.slider-prev, .slider-next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  color: #fff;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slider-prev {
  left: 0;
}

.slider-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.profile-header {
    background-color: #091125;
}

.profile-row {
    display: flex;
    flex-direction: row-reverse;
}
.profile-col-1 {
    width: 80%;
    float: left;
    margin-bottom: 20px;
}

.profile-col-2 {
    display: flex;
    align-items: center;
    width: 40%;
    float: left;
    padding-left: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.about-title, .vision-mission-title {
    text-align: center;
}

.vision-mission {
    background-color: var(--secondary-color);
}

.vm-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    height: auto;
    margin: 0 auto 20px auto;
    background-color: #fff;
    box-shadow: 1px 1px 20px 5px var(--color-blue);
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 30px;
}

.vision {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .profile-header h1 {
        font-size: 25px;
        text-align: center;
    }
    .slider-prev, .slider-next {
        top: 35%;
        font-size: 20px;

    }
    .profile-row {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
}